* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f4f1eb;
  color: #333;
}

header {
  background-color: #344e41;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: #f4a261;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #283618;
  color: white;
  min-height: 90vh;
  position: relative;
}

.hero-left {
  max-width: 65%;
}

.hero-left h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.sub-text {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-right img {
  width: 270px;
  border-radius: 50%;
  object-fit: cover;
}

.socials {
  margin-top: 20px;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto); /* Two columns for two rows */
  gap: 10px; /* Space between items */
}

.socials a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #f4a261;
}

.socials i {
  font-size: 1.5rem;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  background-color: #f4a261;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.scroll-down:hover {
  background-color: #e76f51;
}

#about,
#resume,
#skills,
#activities {
  padding: 50px;
}

#about {
  background-color: #e9c46a;
}

#resume {
  background-color: #2a9d8f;
  color: white;
}

#skills {
  background-color: #264653;
  color: white;
}

#activities {
  background-color: #f4a261;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #344e41;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    max-width: 100%;
  }

  .hero-left h1 {
    font-size: 2.5rem;
  }

  .socials {
    grid-template-columns: 1fr; /* Switch to single column on smaller screens */
    text-align: center;
  }
}
